html {
    background-color: rgb(25, 25, 25);
    color: white;
}

text {
    pointer-events: none;
}

#calculator-container {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

#calc-screen-bot-text {
    font-size: 30px;
    font-family: "Verdana";
}